.grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-color: var(--lightGrey);
  width: 95%;
  margin: 1rem;
}

.grid_child {
  background-color: var(--secondaryColor);
  padding: 2rem;
  color: var(--colorWhite);
  grid-auto-flow: column;
  margin: 1rem;
  border-radius: 0.2rem;
}
