<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="styleImage.css" />
		<title>Why UI</title>
	</head>
	<body>
		<header>
			<navbar class="navbar p1">
				<div class="itemLeft">
					<a
						href="https://whyui.netlify.app/"
						class="brandName textL bolder textColorP"
						>Why UI</a
					>
				</div>

				<div class="itemRight">
					<a href="/">Home</a>
					<a href="/" class="documentation">Documentation</a>
					<a href="/" class="documentation">Research</a>
					<a href="/" class="documentation">Contact Us</a>
				</div>
			</navbar>
		</header>

		<div class="container">
			<div class="sidebar textM">
				<p>Components</p>
				<a href="../Alerts/alerts.html" class="navbarItem">Alerts</a>
				<a href="../Avatar/avatar.html" class="navbarItem">Avatar</a>
				<a href="../Badge/badge.html" class="navbarItem">Badge</a>
				<a href="../Buttons/buttons.html" class="navbarItem">Buttons</a>
				<a href="../Image/image.html" class="navbarItem bolder">Images</a>
			</div>

			<div class="main">
				<h1 class="imageTitle">Image</h1>
				<p class="imageDetails">
					a picture or reflection of something produced by a device (as a mirror
					or lens)
				</p>
				<h3>Round Images:</h3>
				<div class="imageContainer p1 br1">
					<img
						src="../images/256_4.png"
						alt="Large Avatar"
						class="imageLarge imageRound"
					/>

					<img
						src="../images/256_3.png"
						alt="Medium Avatar"
						class="imageMedium imageRound"
					/>

					<img
						src="../images/256_2.png"
						alt="Small Avatar"
						class="imageSmall imageRound"
					/>
				</div>

                <h3>Square Images:</h3>
				<div class="imageContainer p1 br1">
					<img
						src="../images/imageSquare/5926156-01.jpeg"
						alt="Large Avatar"
						class="imageLarge"
					/>

					<img
						src="../images/imageSquare/5926156-02.jpeg"
						alt="Medium Avatar"
						class="imageMedium"
					/>

					<img
                    src="../images/imageSquare/5926156-03.jpeg"
						alt="Small Avatar"
						class="imageSmall"
					/>
				</div>
			</div>
		</div>
	</body>
</html>
