@import url(../../css/image.css);
@import url(../../css/color.css);
@import url(../../css/padding.css);
@import url(../../css/border.css);
@import url(../../css/font.css);
@import url(../../css/reset.css);

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primaryColor); 
}

.container {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding-left: 2.5rem;
}
.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.imageContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--lightGrey);
  width: 95%;
  margin: 1rem;
}

li {
  list-style: none;
  font-size: 0.2rem;
  color: white;
}
h2 {
  color: var(--primaryColor);
  padding: 0.2rem;
}
a {
  text-decoration: none;
  color: var(--primaryColor);
  margin: 10px;
  font-size: 1.5rem;
  padding: 0.5rem;
}
