:root {
    --primaryColor: #414141;
    --secondaryColor: #2b7a78;
    --bottonColor: #17252a;
    --colorWhite: #feffff;
    --coloGrey: #e6e6e6;
  }
  
  html{
    height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
  }

  img{
      width: 400px;
      height: 400px;
  }
  
  .cotainer{
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: center;
      text-align: center;
      justify-content: center;
      color: #414141;
      gap: 2rem;
  }
  .sidebarButton{
    padding: 15px;
    /* border: 2px solid var(--bottonColor); */
    text-decoration: none;
    color: var(--coloGrey);
    background-color: var(--primaryColor);
    border-radius: 40px;
    margin: 10px;
    font-weight: bold;
  }


  .buttonSecondary{

background-color: var(--colorWhite);  
color: var(--primaryColor);
border: 2px solid var(--primaryColor);
}
