<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styleCard.css" />
    <script
      src="https://kit.fontawesome.com/b78dcc4774.js"
      crossorigin="anonymous"
    ></script>
    <title>Why UI</title>
  </head>
  <body>
    <header>
      <navbar class="navbar p1">
        <div class="itemLeft">
          <a
            href="https://whyui.netlify.app/"
            class="brandName textL bolder textColorP"
            >Why UI</a
          >
        </div>

        <div class="itemRight">
          <a href="../../documentation.html" class="documentation">Documentation</a>
          <a href="https://github.com/ashifkhn" class="documentation"
            ><i class="fab fa-github"></i
          ></a>
          <a href="https://www.linkedin.com/in/ashifkhn/" class="documentation"
            ><i class="fab fa-linkedin"></i
          ></a>
        </div>
      </navbar>
    </header>

    <div class="container">
      <div class="sidebar textM">
        <p>Components</p>
        <a href="../Alerts/alerts.html" class="navbarItem">Alerts</a>
        <a href="../Avatar/avatar.html" class="navbarItem">Avatar</a>
        <a href="../Badge/badge.html" class="navbarItem">Badge</a>
        <a href="../Buttons/buttons.html" class="navbarItem">Buttons</a>
        <a href="../Card/card.html" class="navbarItem bolder">Card</a>
        <a href="../Grid/Grid.html" class="navbarItem">Grid</a>
        <a href="../Image/image.html" class="navbarItem">Images</a>
        <a href="../Input/input.html" class="navbarItem">Input</a>
        <a href="../List/list.html" class="navbarItem">List</a>
        <a href="../Modal/modal.html" class="navbarItem">Modal</a>
        <a href="../Navigation/navigation.html" class="navbarItem"
          >Navigation</a
        >
        <a href="../Rating/rating.html" class="navbarItem">Rating</a>
        <a href="../snacbar/snacbar.html" class="navbarItem">Snacbar</a>
        <a href="../Text Utilities/textUtilities.html" class="navbarItem"
          >Text Utilities</a
        >
      </div>

      <div class="main">
        <h1 class="cardTitle">Card</h1>
        <p class="cardDetails">
          a picture or reflection of something produced by a device (as a mirror
          or lens);
        </p>

        <div class="cardContainer p1 br1">
          <card class="card borderBlackThick bgWhite">
            <img
              src="https://i.picsum.photos/id/1025/4951/3301.jpg?hmac=_aGh5AtoOChip_iaMo8ZvvytfEojcgqbCH7dzaz-H8Y"
              alt="card"
              class="cardImage"
            />
            <div class="cardDetails">
              <h2>Hi! My name is Apple</h2>
              <p>Nice to meet you</p>
            </div>

            <footer class="footer">
              <div>
                <button class="option1"><i class="fab fa-readme"></i></button>
                <button><i class="far fa-bookmark"></i></button>
              </div>
              <div class="option2">
                <button><i class="fas fa-thumbs-up"></i></button>
                <button><i class="fas fa-share"></i></button>
                <button><i class="fas fa-ellipsis-v"></i></button>
              </div>
            </footer>
          </card>
        </div>

        <h3>Card with Badge:</h3>

        <div class="cardContainer p1 br1">
          <card class="card borderBlackThick bgWhite">
            <img
              src="https://i.picsum.photos/id/1025/4951/3301.jpg?hmac=_aGh5AtoOChip_iaMo8ZvvytfEojcgqbCH7dzaz-H8Y"
              alt="card"
              class="cardImage"
            />
            <div class="cardDetails">
              <h2>Hi! My name is Apple</h2>
              <p>Nice to meet you</p>
              <span class="imageWithBadge">Accept Friend Request </span>
            </div>

            <footer class="footer">
              <div>
                <button class="option1"><i class="fab fa-readme"></i></button>
                <button><i class="far fa-bookmark"></i></button>
              </div>
              <div class="option2">
                <button><i class="fas fa-thumbs-up"></i></button>
                <button><i class="fas fa-share"></i></button>
                <button><i class="fas fa-ellipsis-v"></i></button>
              </div>
            </footer>
          </card>
        </div>
        <h3>Card with Shadow:</h3>
        <div class="cardContainer p1 br1">
          <card class="card br1 imageWithShadow bgWhite">
            <img
              src="https://i.picsum.photos/id/1025/4951/3301.jpg?hmac=_aGh5AtoOChip_iaMo8ZvvytfEojcgqbCH7dzaz-H8Y"
              alt="card"
              class="cardImage"
            />
            <div class="cardDetails">
              <h2>Hi! My name is Apple</h2>
              <p>Nice to meet you</p>
            </div>

            <footer class="footer">
              <div>
                <button class="option1"><i class="fab fa-readme"></i></button>
                <button><i class="far fa-bookmark"></i></button>
              </div>
              <div class="option2">
                <button><i class="fas fa-thumbs-up"></i></button>
                <button><i class="fas fa-share"></i></button>
                <button><i class="fas fa-ellipsis-v"></i></button>
              </div>
            </footer>
          </card>
        </div>
        <h3>Card with Shadow:</h3>
        <div class="cardContainer p1 br1">
          <card class="card br1 imageWithShadow bgWhite">
            <img
              src="https://i.picsum.photos/id/1025/4951/3301.jpg?hmac=_aGh5AtoOChip_iaMo8ZvvytfEojcgqbCH7dzaz-H8Y"
              alt="card"
              class="cardImage"
            />
            <div class="cardDetails">
              <h2>Hi! My name is Apple</h2>
              <p>Nice to meet you</p>
            </div>

            <footer class="footer">
              <div>
                <button class="option1"><i class="fab fa-readme"></i></button>
                <button><i class="far fa-bookmark"></i></button>
              </div>
              <div class="option2">
                <button><i class="fas fa-thumbs-up"></i></button>
                <button><i class="fas fa-share"></i></button>
                <button><i class="fas fa-ellipsis-v"></i></button>
              </div>
            </footer>
          </card>
        </div>

        <h3>Card with Dimsiss:</h3>

        <div class="cardContainer p1 br1">
          <card class="card borderBlackThick bgWhite">
            <span class="imageWithDismiss">X</span>
            <img
              src="https://i.picsum.photos/id/1025/4951/3301.jpg?hmac=_aGh5AtoOChip_iaMo8ZvvytfEojcgqbCH7dzaz-H8Y"
              alt="card"
              class="cardImage"
            />
            <div class="cardDetails">
              <h2>Hi! My name is Apple</h2>
              <p>Nice to meet you</p>
            </div>

            <footer class="footer">
              <div>
                <button class="option1"><i class="fab fa-readme"></i></button>
                <button><i class="far fa-bookmark"></i></button>
              </div>
              <div class="option2">
                <button><i class="fas fa-thumbs-up"></i></button>
                <button><i class="fas fa-share"></i></button>
                <button><i class="fas fa-ellipsis-v"></i></button>
              </div>
            </footer>
          </card>
        </div>

        <h3>Vertical Card :</h3>
        <div class="cardContainer p1 br1">
          <card class="card borderBlack cardVertical">
            <img
              src="https://i.picsum.photos/id/1025/4951/3301.jpg?hmac=_aGh5AtoOChip_iaMo8ZvvytfEojcgqbCH7dzaz-H8Y"
              alt="card"
              class="cardImage"
            />
            <div class="cardDetails">
              <h2>Apple in a Vertical container</h2>
            </div>

            <footer class="footer">
              <div>
                <button class="option1"><i class="fab fa-readme"></i></button>
                <button><i class="far fa-bookmark"></i></button>
              </div>
              <div class="option2">
                <button><i class="fas fa-thumbs-up"></i></button>
                <button><i class="fas fa-share"></i></button>
                <button><i class="fas fa-ellipsis-v"></i></button>
              </div>
            </footer>
          </card>
        </div>
        <h3>Horizontal Card:</h3>
        <div class="cardContainer cardHorizontal p1 br1">
          <card class="borderBlack cardHorizontal">
            <img
              src="https://i.picsum.photos/id/1025/4951/3301.jpg?hmac=_aGh5AtoOChip_iaMo8ZvvytfEojcgqbCH7dzaz-H8Y"
              alt="card"
              class="cardImage"
            />
            <div class="cardDetails">
              <h2>Apple in a Vertical container</h2>
            </div>
          </card>
        </div>
        <h3>Text Container</h3>
        <div class="cardContainer cardHorizontal p1 br1">
          <card class="borderBlack cardHorizontal boxShadow">
            <div class="cardDetails">
              <h2>Apple in a container without Image</h2>
            </div>
          </card>
        </div>
      </div>
    </div>
  </body>
</html>
