<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="styleButtons.css" />
		<title>Why UI</title>
	</head>
	<body>
		<header>
			<navbar class="navbar p1">
				<div class="itemLeft">
					<a
						href="https://whyui.netlify.app/"
						class="brandName textL bolder textColorP"
						>Why UI</a
					>
				</div>

				<div class="itemRight"> 
					<a href="/">Home</a>
					<a href="/" class="documentation">Documentation</a>
					<a href="/" class="documentation">Research</a>
					<a href="/" class="documentation">Contact Us</a>
				</div>
			</navbar>
		</header>

		<div class="container">
			<div class="sidebar textM">
				<p>Components</p>
				<a href="../Alerts/alerts.html" class="navbarItem">Alerts</a>
				<a href="../Avatar/avatar.html" class="navbarItem">Avatar</a>
				<a href="../Badge/badge.html" class="navbarItem">Badge</a>
				<a href="../Buttons/buttons.html" class="navbarItem bolder">Buttons</a>
			</div>
			<div class="main">
				<h1 class="avatarTitle">Buttons</h1>
				<p class="avatarDetails">
					Buttons are also called as call to action. We have range of buttons
					and their states.
				</p>

				<div class="buttonContainer p1 br1">
					<button class="btn btnPrimary m-1">Submit</button>

					<button class="btn btnGreen m-1">Yes</button>

					<button class="btn btnRed m-1">No</button>

					<button class="btn btnBlue m-1">Maybe</button>
				</div>
			</div>
		</div>
	</body>
</html>
