<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styleAvatar.css" />
    <title>Why UI</title>
  </head>
  <body>
    <div class="navbar p1">
      <div class="itemLeft">
        <a href="https://whyui.netlify.app/" class="brandName textL bolder textColorP"
          >Why UI</a
        >
      </div>

      <div class="itemRight">
        <a href="/">Home</a>
        <a href="/" class="documentation">Documentation</a>
        <a href="/" class="documentation">Research</a>
        <a href="/" class="documentation">Contact Us</a>
      </div>
    </div>

    <div class="container">
      <div class="sidebar textM">
        <p>Components</p>
        <a href="../Alerts/alerts.html" class="navbarItem">Alerts</a>
        <a href="../Avatar/avatar.html" class="navbarItem bolder">Avatar</a>
        <a href="../Badge/badge.html" class="navbarItem">Badge</a>
        <a href="../Buttons/buttons.html" class="navbarItem ">Buttons</a>
      </div>

      <div class="main">
        <h1 class="avatarTitle">Avatar</h1>
        <p class="avatarDetails">
          an avatar is a graphical representation of a user or the user's
          character or persona
        </p>
        <div class="avatarContainer p1 br1">
          <img
            src="../images/256_4.png"
            alt="Large Avatar"
            class="avatar avatarRound avatarLarge"
          />

          <img
            src="../images/256_3.png"
            alt="Medium Avatar"
            class="avatar avatarRound avatarMedium"
          />

          <img
            src="../images/256_2.png"
            alt="Small Avatar"
            class="avatar avatarRound avatarSmall"
          />
          <img
            src="../images/256_1.png"
            alt="Tiny Avatar"
            class="avatar avatarRound avatarTiny"
          />
        </div>
      </div>
    </div>
  </body>
</html>
