<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styleSnacbar.css" />

    <script
      src="https://kit.fontawesome.com/b78dcc4774.js"
      crossorigin="anonymous"
    ></script>
    <title>Why UI</title>
  </head>
  <body>
    <header>
      <navbar class="navbar p1">
        <div class="itemLeft">
          <a
            href="https://whyui.netlify.app/"
            class="brandName textL bolder textColorP"
            >Why UI</a
          >
        </div>

        <div class="itemRight">
          <a href="/" class="documentation">Documentation</a>
          <a href="https://github.com/ashifkhn" class="documentation"
            ><i class="fab fa-github"></i
          ></a>
          <a href="https://www.linkedin.com/in/ashifkhn/" class="documentation"
            ><i class="fab fa-linkedin"></i
          ></a>
        </div>
      </navbar>
    </header>

    <div class="container">
      <div class="sidebar textM">
        <p>Components</p>
        <a href="../Alerts/alerts.html" class="navbarItem">Alerts</a>
        <a href="../Avatar/avatar.html" class="navbarItem">Avatar</a>
        <a href="../Badge/badge.html" class="navbarItem">Badge</a>
        <a href="../Buttons/buttons.html" class="navbarItem">Buttons</a>
        <a href="../Card/card.html" class="navbarItem">Card</a>
        <a href="../Grid/Grid.html" class="navbarItem">Grid</a>
        <a href="../Image/image.html" class="navbarItem">Images</a>
        <a href="../Input/input.html" class="navbarItem">Input</a>
        <a href="../List/list.html" class="navbarItem">List</a>
        <a href="../Modal/modal.html" class="navbarItem">Modal</a>
        <a href="../Navigation/navigation.html" class="navbarItem"
          >Navigation</a
        >
        <a href="../Rating/rating.html" class="navbarItem">Rating</a>
        <a href="../snacbar/snacbar.html" class="navbarItem bolder">Snacbar</a>
        <a href="../Text Utilities/textUtilities.html" class="navbarItem"
          >Text Utilities</a
        >
      </div>

      <div class="main">
        <h1 class="textTitle">Modal</h1>
        <p class="textDetails">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa placeat
          praesentium fugit accusamus vel eos perspiciatis ipsam fugiat! In,
          dignissimos?
        </p>

        <div class="modalContainer p1 br1">
          <div class="modalBox borderBlack">
            <h1>Snacbar Example</h1>
            <div class="modalButton">
              <button class="btn btnPrimary" onclick="clickFunction()">
                Show
              </button>
            </div>
          </div>
        </div>
        <div id="snacbar" class="br05 bgBlack">I'm a Snacbar!</div>
      </div>
    </div>
    <script>
      function clickFunction() {
        var snac = document.querySelector("#snacbar");
        snac.className = "show";
        setTimeout(function () {
          x.className = x.className.replace("show", "");
        }, 3000);
      }
    </script>
  </body>
</html>
