@import url(../../css/main.css);

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primaryColor);
}

.container {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding-left: 2.5rem;
}
.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.snacbarContainer {
  /* display: flex; */
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--lightGrey);
  width: 95%;
  margin: 1rem;
}

.snacBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* width: 300px; */
  height: 300px;
}

.modalButton {
  display: flex;
  gap: 1rem;
}

li {
  list-style: none;
  font-size: 0.2rem;
  color: white;
}
h2 {
  color: var(--primaryColor);
  padding: 0.2rem;
}
a {
  text-decoration: none;
  color: var(--primaryColor);
  margin: 10px;
  font-size: 1.5rem;
  padding: 0.5rem;
}

#snacbar {
  display: flex;
  /* min-width: 0px; */
  width: 250px;
  min-height: 50px;
  z-index: 1;
  text-align: center;
  position: fixed;
  justify-content: center;
  align-items: center;
  color: wheat;
  font-size: 24px;
  left: 50%;
  bottom: 30px;
  visibility: hidden;
  background-color: black;
  border-radius: 1rem;
}

#snacbar.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
