<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styleBadge.css" />
    <title>Why UI</title>
  </head>
  <body>

    <header>

    </header>
    <navbar class="navbar p1">
      <div class="itemLeft">
        <a
          href="https://whyui.netlify.app/"
          class="brandName textL bolder textColorP"
          >Why UI</a
        >
      </div>
      <div class="itemRight">
        <a href="/">Home</a>
        <a href="/" class="documentation">Documentation</a>
        <a href="/" class="documentation">Research</a>
        <a href="/" class="documentation">Contact Us</a>
      </div>
    </navbar>
    <div class="container">
      <div class="sidebar textM">
        <p>Components</p>
        <a href="../Alerts/alerts.html" class="navbarItem">Alerts</a>
        <a href="../Avatar/avatar.html" class="navbarItem">Avatar</a>
        <a href="../Badge/badge.html" class="navbarItem bolder">Badge</a>
        <a href="../Buttons/buttons.html" class="navbarItem ">Buttons</a>
        <a href="../Image/image.html" class="navbarItem">Images</a>
      </div>

      <div class="main">
        <h1 class="avatarTitle">Badge</h1>
        <p class="avatarDetails">
          badge is used to add additional information to the content. For
          example, some websites associate some number of notifications to the
          link
        </p>
        <div class="avatarContainer p1 br1">

          <div class="badgeContainer">
            
            <img
              src="../images/256_4.png"
              alt="Large Avatar"
              class="avatar avatarRound avatarLarge"
            />
            <span class="badgeLarge badgeOffline"></span>

          </div>

          <div class="badgeContainer">
 
          <img
            src="../images/256_3.png"
            alt="Medium Avatar"
            class="avatar avatarRound avatarMedium"
          />
          <span class="badgeLarge badgeOnline"></span>

        </div>

        <div class="badgeContainer">
          <img
            src="../images/256_2.png"
            alt="Small Avatar"
            class="avatar avatarRound avatarSmall"
          />
          <span class="badgeSmall badgeOffline"></span>
        </div>
        <div class="badgeContainer">
          <img
            src="../images/256_1.png"
            alt="Tiny Avatar"
            class="avatar avatarRound avatarTiny"
          />
          <span class="badgeSmall badgeOnline"></span>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
