<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="styleBadge.css" />
  <title>Why UI</title>
</head>

<body>
  <div class="navbarContainer">
    <navbar class="navbar">
      <h1 class="navbar_brand">Why UI</h1>

      <ul class="navbar_items">
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
      </ul>
    </navbar>
  </div>

  <div class="contentContainer">
    <div class="sidebar">
      <h2>Components</h2>
      <a href="../Avatar/avatar.html" class="navbarItemAvatar">Avatar</a>
      <a href="../Badge/badge.html" class="navbarItemBadge">Badge</p>
    </div>
    <div class="contentPage">
      <h1 class="avatarTitle">Badge:</h1>
      <p class="avatarDetails">badge is used to add additional information to the content. For example, some websites
        associate some number of notifications to the link</p>


      <div class="avatar_container">
        <div class="avatar_tiny_container">
          <img
          src="https://png.pngitem.com/pimgs/s/478-4786072_four-short-essays-about-superman-prairie-dog-ninja.png"
          alt="Tiny Avatar"
          class="avatat avatar_tiny"
        />

        <span class="badge_tiny">1</span>
        </div>
        
        <div class="avatar_small_container">

          <img src="https://p.kindpng.com/picc/s/331-3312406_kakashi-full-body-chidori-hd-png-download.png"
            alt="Small Avatar" class="avatat avatar_small" />
            <span class="badge_small">2</span>
        </div>
        
        <div class="avatar_medium_container">

          <img src="https://www.nicepng.com/png/detail/62-628009_tom-jerry-clipart-jerry-tom-and-jerry-transparent.png"
            alt="Medium Avatar" class="avatat avatar_medium" />
            <span class="badge_medium">3</span>
        </div>

        <div class="avatar_large_container">
        <img src="https://www.kindpng.com/picc/m/400-4008812_crayon-shin-chan-png-transparent-png.png"
          alt="Large Avatar" class="avatat avatar_large" />
          <span class="badge_large">4</span>
        </div>
      </div>



    </div>
  </div>
</body>

</html>