<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="styleAlert.css" />
		<title>Why UI</title>
	</head>
	<body> 
		<header>
			<navbar class="navbar p1">
				<div class="itemLeft">
					<a
						href="https://whyui.netlify.app/"
						class="brandName textL bolder textColorP"
						>Why UI</a
					>
				</div>

				<div class="itemRight">
					<a href="/">Home</a>
					<a href="/" class="documentation">Documentation</a>
					<a href="/" class="documentation">Research</a>
					<a href="/" class="documentation">Contact Us</a>
				</div>
			</navbar>
		</header>

		<div class="container">
			<div class="sidebar textM">
				<p>Components</p>
				<a href="../Alerts/alerts.html" class="navbarItem bolder">Alerts</a>
				<a href="../Avatar/avatar.html" class="navbarItem">Avatar</a>
				<a href="../Badge/badge.html" class="navbarItem">Badge</a>
				<a href="../Buttons/buttons.html" class="navbarItem">Buttons</a>
			</div>

			<div class="main">
				<h1 class="avatarTitle">Alert</h1>
				<p class="avatarDetails">
					Alerts are used to attract user's attention for important information
					without interrupting the user's flow.
				</p>
				<div class="alertContainer p1 br1">
					<p class="alert bgRed br1 p05">
						A primary alert example with a text link, Check it out.
					</p>

					<p class="alert bgBlue br1 p05">Lorem ipsum dolor sit amet.</p>
					<p class="alert bgGreen br1 p05">
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
					</p>
					<p class="alert bgOrange br1 p05">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt!
					</p>

					<p class="alert bgGrey br1 p05">Lorem ipsum dolor sit.</p>
				</div>
			</div>
		</div>
	</body>
</html>
