<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="styleAlert.css" />
		<title>Why UI</title>
	</head>
	<body> 
		<header>
			<navbar class="navbar p1">
				<div class="itemLeft">
					<a
						href="https://whyui.netlify.app/"
						class="brandName textL bolder textColorP"
						>Why UI</a
					>
				</div>

				<div class="itemRight">
					<a href="/">Home</a>
					<a href="/" class="documentation">Documentation</a>
					<a href="/" class="documentation">Research</a>
					<a href="/" class="documentation">Contact Us</a>
				</div>
			</navbar>
		</header>

		<div class="container">
			<div class="sidebar textM">
				<p>Components</p>
				<a href="../Alerts/alerts.html" class="navbarItem bolder">Alerts</a>
				<a href="../Avatar/avatar.html" class="navbarItem">Avatar</a>
				<a href="../Badge/badge.html" class="navbarItem">Badge</a>
				<a href="../Buttons/buttons.html" class="navbarItem">Buttons</a>
				<a href="../Image/image.html" class="navbarItem">Images</a>
			</div>

			<div class="main">
				<h1 class="avatarTitle">Alert</h1>
				<span class="avatarDetails">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, ea?
				</span>
				<div class="alertContainer p1 br1">
					<span class="alert bgRed br1 p05">
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
					</span>

					<span class="alert bgBlue br1 p05">Lorem ipsum dolor sit amet.</span>
					<span class="alert bgGreen br1 p05">
						Lorem ipsum dolor sit amet.
					</span>
					<span class="alert bgOrange br1 p05">
						Lorem, ipsum dolor.
					</span>

					<span class="alert bgGrey br1 p05">Lorem ipsum dolor sit.</span>
				</div>
			</div>
		</div>
	</body>
</html>
